services:
    enigmafy:
        image: cibero42/enigmafy:latest
        restart: never
        volumes:
        # Rclone config file
         - /home/USER/.config/rclone/rclone.conf:/root/.config/rclone/rclone.conf:ro
         # AGE Keys
         - /home/USER/keys/age/key.age:/root/keys/age/key.age:ro
         - /home/USER/keys/age/key.pub:/root/keys/age/key.pub:ro
         # SSH Keys
         - /home/USER/keys/ssh/sshkey:/root/keys/ssh/sshkey:ro
         - /home/USER/keys/ssh/sshkey.pub:/root/keys/ssh/sshkey.pub:ro
         # Directory to do operations
          - /some/path:/root/files/
        # EXAMPLE: Encrypt archive and upload to S3
        command: ["enigmafy -e /root/keys/age/key.pub -s /root/keys/ssh/sshkey -u s3:bucket/path /root/files/file.txt"]